doctype=html
html
  head
    include includes/libs.pug
    link(rel='stylesheet', type='text/css', href='/css/nav.css')
    link(rel='stylesheet', type='text/css', href='/css/table.css')
    link(rel='stylesheet', type='text/css', href='/css/equipamentos.css')
    script(src='/js/equipamentos.js')
    title Express.js + Pug
  body
    include includes/nav.pug
    div(class='table__title')
      text(class='table__title-text') Lista de Equipamentos
      button(
        class='table__title-button'
        onclick='window.location.href += "/new"'
      ) NOVO EQUIPAMENTO
    table(class='table')
      tr(class='table__row')
        th(class='table__header') COD 
        th(class='table__header') Nome 
        th(class='table__header') Tipo 
        th(class='table__header') QNT Motor 
        th(class='table__header') QNT Passageiros 
        th(class='table__header') Ações
      each equipamento in equipamentos 
        tr(class='table__row')
          td(class='table__cell')=equipamento.cod
          td(class='table__cell')=equipamento.nome
          td(class='table__cell')=equipamento.tipo
          td(class='table__cell')=equipamento.qntMotor
          td(class='table__cell')=equipamento.qntPassageiros
          td(class='table__cell')
            div(class='table__icons')
              img(
                src='/svg/pencil.svg'
                class='table__icon'
                onclick=`window.location.href += "/${equipamento.cod}/edit"`
              )
              img(
                src='/svg/trash.svg'
                class='table__icon'
                onclick=`remove(${equipamento.cod})`
              )
