doctype=html
- const title = `${edit ? 'Editar' : 'Criar'} Equipamentos`
html
  head
    include includes/libs.pug
    link(rel='stylesheet', type='text/css', href='/css/nav.css')
    link(rel='stylesheet', type='text/css', href='/css/form.css')
    script(src='/js/form.js')
    title=title

  body
    include includes/nav.pug

    form(
      id='form'
      class='form'
    )
      div(class='form__title')
        text(class='form__title-text')=title

      div(class='form__input-group')
        label(class='form__input-title') Código

        input(
          required
          class='form__input'
          type='text'
          name='CD_EQPT'
          disabled=true && edit
          value=equipamento && equipamento.CD_EQPT
          placeholder='Digite o nome'
        )

      div(class='form__input-group')
        label(class='form__input-title') Nome

        input(
          required
          class='form__input'
          type='text',
          name='NM_EQPT',
          value=equipamento && equipamento.NM_EQPT
          placeholder='Digite o nome'
        )

      div(class='form__input-group')
        label(class='form__input-title') Tipo

        input(
          required
          class='form__input'
          type='text',
          name='DC_TIPO_EQPT',
          value=equipamento && equipamento.DC_TIPO_EQPT
          placeholder='Digite o tipo'
        )

      div(class='form__input-group')
        label(class='form__input-title') QT Motores

        input(
          required
          class='form__input'
          type='number',
          name='QT_MOTOR',
          value=equipamento && equipamento.QT_MOTOR
          placeholder='Digite a quantidade de motores'
        )

      div(class='form__input-group')
        label(class='form__input-title') Tipo Propulsor

        select(
          class='form__input'
          name='IC_TIPO_PRPS'
        )
          option(
            value='R'
            selected=true && (equipamento && equipamento.IC_TIPO_PRPS === 'R')
          ) R
          option(
            value='M'
            selected=true && (equipamento && equipamento.IC_TIPO_PRPS === 'M')
          ) M

      div(class='form__input-group')
        label(class='form__input-title') QT Passageiros

        input(
          required
          class='form__input'
          type='number',
          name='QT_PSGR',
          value=equipamento && equipamento.QT_PSGR
          placeholder='Digite a quantidade de passageiros'
        )

      div(class='form__buttons')
        button(
          class='form_button'
          onclick='window.history.back()'
        ) CANCELAR

        button(
          class='form_button'
          onclick=`save('equipamentos', 'CD_EQPT', '${edit}')`
        ) SALVAR