doctype=html
html
  head
    include includes/libs.pug
    link(rel='stylesheet', type='text/css', href='/css/nav.css')
    link(rel='stylesheet', type='text/css', href='/css/index.css')
    script(src='/js/index.js')
    title Express.js + Pug
  body(id='index')
    include includes/nav.pug
    section(class='index__grid')
      each route in routes
        if route.startsWith('consultas')
          button(
            class='index__button' 
            onclick=`abrirConsultas('${route.replace('consultas ', '').replaceAll(' ', '_')}')`
          )=route.toUpperCase()
        else
          if route.startsWith('realizar')
            button(
              class='index__button' 
              onclick=`abrirRealizar('${route.replace('realizar ', '').replaceAll(' ', '_')}')`
            )=route.toUpperCase()
          else
            button(
            class='index__button' 
            onclick=`window.location.href='/${route.replaceAll(' ', '_')}'`
          )=route.toUpperCase()