doctype=html
html
  head
    include includes/libs.pug
    link(rel='stylesheet', type='text/css', href='/css/nav.css')
    link(rel='stylesheet', type='text/css', href='/css/table.css')
    title Lista de Paises
  body
    include includes/nav.pug
    div(class='table__title')
      text(class='table__title-text') Lista de Paises
      button(
        class='table__title-button'
        onclick='window.location.href += "/new"'
      ) NOVO PAISES
    table(class='table')
      tr(class='table__row')
        th(class='table__header') COD 
        th(class='table__header') Nome 
        th(class='table__header') População
        th(class='table__header') Ações
      each pais in paises 
        tr(class='table__row')
          td(class='table__cell')=pais.CD_PAIS
          td(class='table__cell')=pais.NM_PAIS
          td(class='table__cell')=pais.QT_PPLC_PAIS
          td(class='table__cell')
            div(class='table__icons')
              img(
                src='/svg/pencil.svg'
                class='table__icon'
                onclick=`window.location.href += "/${pais.CD_PAIS}/edit"`
              )
              img(
                src='/svg/trash.svg'
                class='table__icon'
                onclick=`remove(${pais.CD_PAIS})`
              )
